In [2]:
import pandas as pd
city_list = ['Berlin','Stuttgart' , 'Frankfurt','Hamburg', 'Munich','Cologne']
data_df = pd.read_csv('German Cities.csv')
data_df.head()

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5200,13.4050,Germany,DE,Berlin,primary,4473101.0,3677472.0
1,Stuttgart,48.7775,9.1800,Germany,DE,Baden-W端rttemberg,admin,2787724.0,626275.0
2,Munich,48.1375,11.5750,Germany,DE,Bavaria,admin,2606021.0,1487708.0
3,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,2484800.0,1853935.0
4,Cologne,50.9364,6.9528,Germany,DE,North Rhine-Westphalia,NaN,1083498.0,1073096.0

In [3]:
data_df = data_df[data_df['city'].isin(city_list)]
data_df

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5200,13.4050,Germany,DE,Berlin,primary,4473101.0,3677472.0
1,Stuttgart,48.7775,9.1800,Germany,DE,Baden-W端rttemberg,admin,2787724.0,626275.0
2,Munich,48.1375,11.5750,Germany,DE,Bavaria,admin,2606021.0,1487708.0
3,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,2484800.0,1853935.0
4,Cologne,50.9364,6.9528,Germany,DE,North Rhine-Westphalia,NaN,1083498.0,1073096.0
5,Frankfurt,50.1106,8.6822,Germany,DE,Hesse,minor,764104.0,759224.0