Author: Ashkan Nikfarjam

I am extacting data from this website "https://www.iamexpat.de/housing/rentals"

In [28]:
import requests
from bs4 import BeautifulSoup
url ="https://www.iamexpat.de/housing/rentals/"
#for this website we are going to extract name of all the cities from German cities.csv
#then add to the ened of url and extract data

In [29]:
import pandas  as pd
data = pd.read_csv("../German cities.csv")
data.head()

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5200,13.4050,Germany,DE,Berlin,primary,4473101.0,3677472.0
1,Stuttgart,48.7775,9.1800,Germany,DE,Baden-Württemberg,admin,2787724.0,626275.0
2,Munich,48.1375,11.5750,Germany,DE,Bavaria,admin,2606021.0,1487708.0
3,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,2484800.0,1853935.0
4,Cologne,50.9364,6.9528,Germany,DE,North Rhine-Westphalia,NaN,1083498.0,1073096.0

In [30]:
city_list = data.city.to_list()
city_list[:5]

['Berlin', 'Stuttgart', 'Munich', 'Hamburg', 'Cologne']

In [31]:
import os
directory = "./citiesHTML/"
if not os.path.exists(directory):
    os.makedirs(directory)
for city in city_list:
    response = requests.get(url+city)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        #now lets save all the city in their respective html file
        with open(directory+city+".html", 'w') as file:
            file.write(soup.prettify())
    else:
        print("cant reach", url+city)

In [196]:
with open("./citiesHTML/Aachen.html", "r", encoding="utf-8") as file:
    html_content = file.read()
size = []
beds =[]
names = []
prices=[]
soup = BeautifulSoup(html_content, 'html.parser')
#get name
name_tag = soup.find_all('h2', class_='article__title')
for name in name_tag:
    names.append(name.get_text(strip=True))
#get surface
    #span class="property__label label label--surface">
surface_tag = soup.find_all('span', class_='property__label label label--surface')
for surface in surface_tag:
    size.append(surface.find_next_sibling().text.strip())
#bed info
bedrooms_tag = soup.find_all('span', class_='property__label label label--bedrooms')
# print(bedrooms_tag)
for bed in bedrooms_tag:
    beds.append(bed.find_next_sibling('span').text.strip())
#get price
price_tag = soup.find_all('span', class_='property__price')
for price in price_tag:
    prices.append(price.get_text(strip=True) if price_tag else None)
print('names', names)
print('beds', beds)
print('size', size)
print('price', prices)

names ['Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen', 'Apartment in Aachen']
beds ['1', '1', '1', '1', '1', '3', '3', '1', '1', '1', '1']
size ['45m\n                         \n                          2', '50m\n                         \n                          2', '14m\n                         \n                          2', '46m\n                         \n                          2', '33m\n                         \n                          2', '75m\n                         \n                          2', '70m\n                         \n                          2', '14m\n                         \n                          2', '35m\n                         \n                          2', '23m\n                         \n                          2', '40m\n                         \n                          2']
price ['1693€', '1025€', '1368€', '2379€', '1099€', '2470€', '1749€', '849€', '1586€', '2223€', '2379€']

In [197]:
#clean up size data
import re
size_modified = list(map(lambda x: re.findall(r'.{2}m', x)[0], size))
size_modified

['45m', '50m', '14m', '46m', '33m', '75m', '70m', '14m', '35m', '23m', '40m']

Now we could extract all the data from one page perhaps we

In [211]:
import numpy as np
path = './citiesHTML/'
city_pages = os.listdir(path)
print(city_pages)
size = []
beds =[]
names = []
prices=[]
for page in city_pages:
    with open(path+page, 'r') as file:
        html_content = file.read()
    soup = BeautifulSoup(html_content, 'html.parser')
    #get name
    name_tag = soup.find_all('h2', class_='article__title')
    for name in name_tag:
        names.append(name.get_text(strip=True) if name_tag else None)
    #get surface
        #span class="property__label label label--surface">
    surface_tag = soup.find_all('span', class_='property__label label label--surface')
    for surface in surface_tag:
        size.append(surface.find_next_sibling().text.strip() if surface_tag else None)
    #bed info
    bedrooms_tag = soup.find_all('span', class_='property__label label label--bedrooms')
    # print(bedrooms_tag)
    for bed in bedrooms_tag:
        beds.append(bed.find_next_sibling('span').text.strip() if bedrooms_tag else None)
    #get price
    price_tag = soup.find_all('span', class_='property__price')
    for price in price_tag:
        prices.append(price.get_text(strip=True) if price_tag else None)
size_modified = list(map(lambda x: re.findall(r'.{2}m', x)[0], size))
print('names', len(names))
print('beds', len(beds))
print('size', len(size_modified))
print('price', len(prices))

['Mönchengladbach.html', 'Ludwigshafen.html', 'Dortmund.html', 'Dresden.html', 'Münster.html', 'Würzburg.html', 'Bielefeld.html', 'Rosenheim.html', 'Munich.html', 'Gelsenkirchen.html', 'Ingolstadt.html', 'Duisburg.html', 'Neuss.html', 'Berlin.html', 'Essen.html', 'Bochum.html', 'Ludwigsburg.html', 'Glinde.html', 'Unterschleißheim.html', 'Göttingen.html', 'Kornwestheim.html', 'Reutlingen.html', 'Ulm.html', 'Hannover.html', 'Frankfurt.html', 'Bergisch Gladbach.html', 'Darmstadt.html', 'Hamburg.html', 'Kaiserslautern.html', 'Karlsruhe.html', 'Schenefeld.html', 'Bonn.html', 'Aachen.html', 'Kiel.html', 'Salzgitter.html', 'Trier.html', 'Regensburg.html', 'Eschborn.html', 'Cologne.html', 'Kronshagen.html', 'Offenbach.html', 'Osnabrück.html', 'Remscheid.html', 'Wentorf bei Hamburg.html', 'Wolfsburg.html', 'Mülheim.html', 'Weingarten.html', 'Siegburg.html', 'Wuppertal.html', 'Erlangen.html', 'Lübeck.html', 'Oberhausen.html', 'Bad Soden am Taunus.html', 'Weißenthurm.html', 'Freiburg im Breisgau.html', 'Leverkusen.html', 'Mainz.html', 'Herten.html', 'Leipzig.html', 'Potsdam.html', 'Wiesbaden.html', 'Erfurt.html', 'Esslingen.html', 'Steinbach am Taunus.html', 'Eichwalde.html', 'Koblenz.html', 'Braunschweig.html', 'Kassel.html', 'Magdeburg.html', 'Eilendorf.html', 'Heilbronn.html', 'Altbach.html', 'Saarbrücken.html', 'Halle-Neustadt.html', 'Heidelberg.html', 'Düsseldorf.html', 'Eppelheim.html', 'Gröbenzell.html', 'Germering.html', 'Solingen.html', 'Nuremberg.html', 'Unterhaching.html', 'Halle.html', 'Mannheim.html', 'Neulußheim.html', 'Gütersloh.html', 'Stuttgart.html', 'Buckenhof.html', 'Hilden.html', 'Augsburg.html', 'Fürth.html']
names 1360
beds 1329
size 1356
price 1094

In [224]:
import numpy as np


path = './citiesHTML/'
city_pages = os.listdir(path)
print(city_pages)



data = []

for page in city_pages:
    with open(os.path.join(path, page), 'r') as file:
        html_content = file.read()
    soup = BeautifulSoup(html_content, 'html.parser')
    
    name_tag = soup.find_all('h2', class_='article__title')
    names = [name.get_text(strip=True) if name else np.nan for name in name_tag]

    surface_tag = soup.find_all('span', class_='property__label label label--surface')
    sizes = [surface.find_next_sibling().text.strip() if surface else np.nan for surface in surface_tag]

    bedrooms_tag = soup.find_all('span', class_='property__label label label--bedrooms')
    beds = [bed.find_next_sibling('span').text.strip() if bed else np.nan for bed in bedrooms_tag]

    price_tag = soup.find_all('span', class_='property__price')
    prices = [price.get_text(strip=True) if price else np.nan for price in price_tag]

    size_modified = list(map(lambda x: re.findall(r'.{2}m', x)[0], sizes))

    # Append data to the list
    data.extend(zip(names, beds, size_modified, prices))

# Create a DataFrame
df = pd.DataFrame(data, columns=['Name', 'Beds', 'Size', 'Price'])

df

['Mönchengladbach.html', 'Ludwigshafen.html', 'Dortmund.html', 'Dresden.html', 'Münster.html', 'Würzburg.html', 'Bielefeld.html', 'Rosenheim.html', 'Munich.html', 'Gelsenkirchen.html', 'Ingolstadt.html', 'Duisburg.html', 'Neuss.html', 'Berlin.html', 'Essen.html', 'Bochum.html', 'Ludwigsburg.html', 'Glinde.html', 'Unterschleißheim.html', 'Göttingen.html', 'Kornwestheim.html', 'Reutlingen.html', 'Ulm.html', 'Hannover.html', 'Frankfurt.html', 'Bergisch Gladbach.html', 'Darmstadt.html', 'Hamburg.html', 'Kaiserslautern.html', 'Karlsruhe.html', 'Schenefeld.html', 'Bonn.html', 'Aachen.html', 'Kiel.html', 'Salzgitter.html', 'Trier.html', 'Regensburg.html', 'Eschborn.html', 'Cologne.html', 'Kronshagen.html', 'Offenbach.html', 'Osnabrück.html', 'Remscheid.html', 'Wentorf bei Hamburg.html', 'Wolfsburg.html', 'Mülheim.html', 'Weingarten.html', 'Siegburg.html', 'Wuppertal.html', 'Erlangen.html', 'Lübeck.html', 'Oberhausen.html', 'Bad Soden am Taunus.html', 'Weißenthurm.html', 'Freiburg im Breisgau.html', 'Leverkusen.html', 'Mainz.html', 'Herten.html', 'Leipzig.html', 'Potsdam.html', 'Wiesbaden.html', 'Erfurt.html', 'Esslingen.html', 'Steinbach am Taunus.html', 'Eichwalde.html', 'Koblenz.html', 'Braunschweig.html', 'Kassel.html', 'Magdeburg.html', 'Eilendorf.html', 'Heilbronn.html', 'Altbach.html', 'Saarbrücken.html', 'Halle-Neustadt.html', 'Heidelberg.html', 'Düsseldorf.html', 'Eppelheim.html', 'Gröbenzell.html', 'Germering.html', 'Solingen.html', 'Nuremberg.html', 'Unterhaching.html', 'Halle.html', 'Mannheim.html', 'Neulußheim.html', 'Gütersloh.html', 'Stuttgart.html', 'Buckenhof.html', 'Hilden.html', 'Augsburg.html', 'Fürth.html']

                                     Name Beds Size  Price
0     Apartment in Berlin, Bornholmer Str    2  2 m  3279€
1                  Apartment in Frankfurt    2  04m  2239€
2                  Apartment in Frankfurt    1  57m  2099€
3                  Apartment in Frankfurt    1  49m  2099€
4                  Apartment in Frankfurt    1  49m  1599€
...                                   ...  ...  ...    ...
1072                  Apartment in Berlin    1  68m  2290€
1073                  Apartment in Berlin    1  71m  2100€
1074                  Apartment in Berlin    1  60m   665€
1075                  Apartment in Berlin    5  11m   705€
1076                  Apartment in Berlin    5  11m   755€

[1077 rows x 4 columns]

In [228]:
final_df = df.drop(columns='Size')
final_df.Price = final_df.Price.str.replace('€','')
final_df

           Name Beds Price
0       Berlin,    2  3279
1     Frankfurt    2  2239
2     Frankfurt    1  2099
3     Frankfurt    1  2099
4     Frankfurt    1  1599
...         ...  ...   ...
1072     Berlin    1  2290
1073     Berlin    1  2100
1074     Berlin    1   665
1075     Berlin    5   705
1076     Berlin    5   755

[1077 rows x 3 columns]

In [227]:
# lets just keep the name of the city and drop Apartment in
final_df.to_csv("cityRentals.csv", index=False)